{% extends "main.html" %}
{% block content %}

<h1 class="display-4">Shipment Information</h1>
<div class="card bg-light text-dark border-dark mb-3" style="width: 18rem;">
    <div class="card-body">
    <p>Shipping to: <strong>{{target.name}}</strong></p>
    <p>Transit Time: <strong>{{target.transit}}</strong></p>
    <p>Carrier Used: <strong>{{target.carrier}}</strong></p>
    <p>Regular bottles: <strong>{{regBottles}}</strong></p>
    <p>Magnum bottles: <strong>{{magBottles}}</strong></p>
    </div>
</div>

<button type="button" class="btn btn-outline-primary d-block mb-3"
data-toggle="collapse" data-target="#collapse-btn-1">
    <span class="fas fa-plus-square fa-fw"></span>Cost Breakdown</button>

<div class="collapse mb-3" id="collapse-btn-1">
    <div class="card bg-light text-dark border-dark" style="width: 18rem;">
        <div class="card-body">
            <p class="card-text">Regular bottles cost: <strong>{{regPrices}}</strong></p>
            <p class="card-text">Magnums cost: <strong>{{magPrices}}</strong></p>
        </div>
    </div>
</div>

<div class="card bg-light text-dark border-dark mb-3" style="width: 18rem;">
    <div class="card-body">
        <p class="card-text font-weight-bold">Total Cost: {{totalPrice}}</p>
    </div>    
</div>

<a class="btn btn-outline-success" href="{{url_for('enterValues')}}" role="button">Go Back</a>
{% endblock %}