{% extends "main.html" %}
{% block content %}

<h1 class="display-4">Shipment Information</h1>
<div class="card bg-light text-dark border-dark mb-3" style="width: 18rem;">
    <div class="card-body">
    <p>Shipping To: <strong>{{target.name}}</strong></p>
    <p>Transit Time: <strong>{{target.transit}}</strong></p>
    <p>Carrier Used: <strong>{{target.carrier}}</strong></p>
    <p>Regular Bottles: <strong>{{regBottles}}</strong></p>
    <p>Magnum Bottles: <strong>{{magBottles}}</strong></p>
    </div>
</div>

<button type="button" class="btn btn-outline-primary d-block mb-3"
data-toggle="collapse" data-target="#collapse-btn-1" style="width: 18rem;">
    <span class="fas fa-plus-square fa-fw"></span>Shipment Breakdown</button>

    <div class="collapse mb-3" id="collapse-btn-1">
        <div class="card bg-light text-dark border-dark" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">{{regCases}} x 12-bottle case(s)</p>
                <p class="card-text">1 x {{looseBottles}}-bottle case</p>
                <p class="card-text">1 x {{magBottles}}-bottle magnum case</p>

            </div>
        </div>
    </div>

<button type="button" class="btn btn-outline-primary d-block mb-3"
data-toggle="collapse" data-target="#collapse-btn-2" style="width: 18rem;">
    <span class="fas fa-plus-square fa-fw"></span>Cost Breakdown</button>

    <div class="collapse mb-3" id="collapse-btn-2">
        <div class="card bg-light text-dark border-dark" style="width: 25rem;">
            <div class="card-body"> 
                <p class="card-text">{{regCases}} case(s): <strong>{{casePrice}}</strong> (@ {{twelveCasePriceDollar}} each)</p>
                <p class="card-text">{{looseBottles}}-bottle case: <strong>{{looseRegPrice}}</strong></p>
                <p class="card-text">{{magBottles}}-bottle magnum case: <strong>{{magPrice}}</strong></p>
            </div>
        </div>
    </div>

<div class="card bg-light text-dark border-dark mb-3" style="width: 18rem;">
    <div class="card-body">
        <h6 class="card-text font-weight-bold">Total Cost: {{totalPrice}}</h6>
            <p class="card-text text-muted">Total Cost Including NYC Tax: {{totalPriceTax}}</p>
    </div>    
</div>

<a class="btn btn-outline-success" href="{{url_for('enterValues')}}" role="button">Go Back</a>

{% endblock %}